<div class="container">
	<div class="col-sm-2">
		Search:
		<input ng-model='query'></input>
		<p>Order :</p>
		<select ng-model='orderProp'>
			<option value='name'>Name</option>
			<option value='age'>Age</option>
		</select>
	</div>

	<div class="col-sm-10">
	  	<ul class="phones">
	  	<li ng-repeat="phone in phones|filter:query|orderBy:orderProp" class="thumbnail">
	  		<a href="#/phones/{{phone.id}}" class="thumb">
	  			<img ng-src="{{phone.imageUrl}}">
	  		</a>
	  		<a href="#/phones/{{phone.id}}">{{phone.name}}</a>
	  		<p>{{phone.snippet}}</p>
	  	</li>
	  </ul>
  </div>
</div>